<div class="d-flex gap-2 justify-content-center mb-3">
  <button type="button" name="" id="" class="btn btn-primary me-md-2">
    <i class="fa-solid fa-plus"></i>&nbsp;New counter
  </button>
  <button type="button" name="" id="" class="btn btn-warning">
    <i class="fa-regular fa-circle-xmark"></i>&nbsp;Reset all counters
  </button>
</div>
<div>
  <individual-counter></individual-counter>
  <individual-counter></individual-counter>
  <individual-counter></individual-counter>
  <individual-counter></individual-counter>
  <individual-counter></individual-counter>
</div>
