<div class="d-flex flex-column align-items-stretch justify-content-end">
  <div class="mb-5">
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Search a city & Hit ENTER"
          [(ngModel)]="searchInput"
          (keypress)="onKeypress($event)"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="getWeatherDetails(searchInput)"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <small
        id="helpId"
        class="form-text text-danger"
        *ngIf="searchInput === 'City name not found'"
        >Invalid location searched. Try with a valid location input</small
      >
    </div>
    <ul class="list-group list-group-none">
      <li class="list-group-item" *ngFor="let location of allLocationsSearched">
        <div class="d-flex align-items-center justify-content-around">
          <div class="d-flex align-items-center justify-content-start">
            <div class="me-3">{{ location?.name }}</div>
            <img
              [src]="getIconUrl(location?.weather[0]?.description)"
              width="35"
              [alt]="location?.weather[0]?.description"
            />
            <div>{{ location?.main?.temp | number : "1.2-2" }}&deg;C</div>
          </div>
          <div class="ms-auto">
            <button
              type="button"
              class="btn btn-block btn-outline-dark rounded-circle ms-1"
            >
              <i class="fa-solid fa-rotate"></i>
            </button>
            <button
              type="button"
              class="btn btn-block btn-outline-dark rounded-circle ms-1"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex" *ngIf="allLocationsSearched?.length > 0">
    <button type="button" class="btn btn-danger ms-auto">Clear</button>
  </div>
</div>
