<div class="d-flex flex-column align-items-stretch justify-content-end">
  <div class="mb-5">
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder=""
          [formControl]="searchInput"
        />
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <small id="helpId" class="form-text text-danger" *ngIf="isInvalidInput"
        >{{ searchInput.value }} is invalid location</small
      >
    </div>
    <ul class="list-group list-group-numbered">
      <li class="list-group-item" [class.active]="">Location 1</li>
    </ul>
  </div>
  <div class="d-flex">
    <button type="button" class="btn btn-danger ms-auto">Clear</button>
  </div>
</div>
