<div
  class="d-flex flex-column align-items-stretch justify-content-end mb-3 mb-sm-2 mb-md-3 mb-lg-0"
>
  <div class="mb-sm-2 md-md-3 mb-lg-4">
    <div class="mb-3">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          aria-describedby="helpId"
          placeholder="Search a city & Hit ENTER"
          [(ngModel)]="searchInput"
          (keypress)="onKeypress($event)"
        />
        <button
          type="button"
          class="btn btn-primary"
          (click)="getWeatherDetails(searchInput)"
        >
          <i class="fa-solid fa-plus"></i>
        </button>
      </div>
      <small
        id="helpId"
        class="form-text text-danger"
        *ngIf="searchInput === 'City name not found'"
        >Invalid location searched. Try with a valid location input</small
      >
    </div>
    <hr *ngIf="allLocationsSearched?.length > 0" />
    <div *ngIf="allLocationsSearched?.length > 0" class="mb-3">
      <small id="recentSearched" class="form-text text-dark"
        >Recent searches
      </small>
    </div>
    <ul class="list-group list-group-none">
      <li
        class="list-group-item"
        *ngFor="let location of allLocationsSearched"
        [ngClass]="{
          'bg-custom-light': location?.name === currentData?.name
        }"
      >
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center justify-content-start">
            <div
              class="cursor-pointer"
              (click)="getWeatherDetails(location?.name)"
            >
              {{ location?.name }}
            </div>
            <div class="d-flex align-items-center justify-content-end ms-4">
              <img
                [src]="getIconUrl(location?.weather[0]?.description)"
                width="35"
                [alt]="location?.weather[0]?.description"
              />
              <div>{{ location?.main?.temp | number : "1.2-2" }}&deg;C</div>
            </div>
          </div>
          <div class="ms-auto">
            <button
              type="button"
              class="btn btn-block btn-outline-dark rounded-circle ms-1"
              (click)="getWeatherDetails(location?.name)"
            >
              <i class="fa-solid fa-rotate"></i>
            </button>
            <button
              type="button"
              class="btn btn-block btn-outline-dark rounded-circle ms-1"
              (click)="remove(location?.name)"
            >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="d-flex" *ngIf="allLocationsSearched?.length > 0">
    <button
      type="button"
      class="btn btn-danger ms-auto"
      (click)="remove('all')"
    >
      Clear
    </button>
  </div>
</div>
