<div class="row py-2 border border-dark align-items-center bg-light mb-2">
  <!-- <div class="col-md-4"><div class="h2">Counter-1</div></div> -->
  <div class="col-md-7"><div class="h2">4</div></div>
  <div class="col-md-5">
    <div class="d-flex justify-content-end">
      <button type="button" name="" id="" class="btn btn-dark ms-1">
        <i class="fa-solid fa-arrow-up"></i>&nbsp;Increment
      </button>

      <button type="button" name="" id="" class="btn btn-dark ms-1">
        <i class="fa-solid fa-arrow-down"></i>&nbsp;Decrement
      </button>

      <button type="button" name="" id="" class="btn btn-danger ms-1">
        <i class="fa-regular fa-trash-can"></i>&nbsp;Delete Counter
      </button>
    </div>
  </div>
</div>
